[DEFAULT]
deepgram = True
diarize = True
summarize = False
github = False
save_to_markdown = True
needs_review = False
one_sentence_per_line = True

[development]
verbose_logging = True
server_mode = dev
server_verbose = True
