# URL for the transcription server
TRANSCRIPTION_SERVER_URL=http://localhost:8000

# Base URL for DataFetcher
BTC_TRANSCRIPTS_URL="https://btctranscripts.com"

# Deepgram API Key for transcription
# Required for using the Deepgram transcription service
DEEPGRAM_API_KEY=

# AWS S3 Bucket for uploading models
# Required if you want to upload transcription models to S3
S3_BUCKET=

# Configuration profile to use
# Specifies which configuration profile from config.ini to use
PROFILE="development"

# --- GitHub Integration ---
# The following variables are required for pushing transcripts to GitHub

# GitHub App ID for repository integration
GITHUB_APP_ID=

# Base64 encoded private key for the GitHub App
GITHUB_PRIVATE_KEY_BASE64=

# Installation ID for the GitHub App
GITHUB_INSTALLATION_ID=

# Owner of the target GitHub repository (e.g., 'bitcointranscripts')
GITHUB_REPO_OWNER=

# Name of the target GitHub repository (e.g., 'bitcointranscripts')
GITHUB_REPO_NAME=

# Name of the target GitHub metadata repository
GITHUB_METADATA_REPO_NAME= 